In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./test.csv')
df

   c1   c2         c3
0  CA   CA        chr
1  FL  NaN       mike
2  FL   FL  christian
3  CA   FL        mik
4  GA   MI   christia
5  WA   FL          m
6  CA   FL       mike

In [3]:
# Clean up States
bkup = df['c1'] # will be used later to reference states
stacked = df[{'c1','c2'}].stack().astype('category')
result = stacked.cat.codes.unstack()
print(result)
print(df)
df['c1'] = result['c1'] + 1
df['c2'] = result['c2'] + 1
df = df.fillna(0)
print('after nan = 0:\n',df)

    c2   c1
0  0.0  0.0
1  NaN  1.0
2  1.0  1.0
3  1.0  0.0
4  3.0  2.0
5  1.0  4.0
6  1.0  0.0
   c1   c2         c3
0  CA   CA        chr
1  FL  NaN       mike
2  FL   FL  christian
3  CA   FL        mik
4  GA   MI   christia
5  WA   FL          m
6  CA   FL       mike
after nan = 0:
     c1   c2         c3
0  1.0  1.0        chr
1  2.0  0.0       mike
2  2.0  2.0  christian
3  1.0  2.0        mik
4  3.0  4.0   christia
5  5.0  2.0          m
6  1.0  2.0       mike

In [4]:
# Encode Names with similar spelling
df['c3'] = df['c3'].str.upper()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#le = le.fit(df['c3'])
le_encdr = le.fit_transform(df['c3'])
le_encdr # m, mik, and mike are a lot closer numerically than chr, christian, and christia. Perhaps can use floats insteead of ints to be more accurate with a larger CSV sample.
df['c3'] = le_encdr
df

    c1   c2  c3
0  1.0  1.0   0
1  2.0  0.0   5
2  2.0  2.0   2
3  1.0  2.0   4
4  3.0  4.0   1
5  5.0  2.0   3
6  1.0  2.0   5

In [5]:
#Revert back 
df['c4'] = le.inverse_transform(df['c3'])
df

    c1   c2  c3         c4
0  1.0  1.0   0        CHR
1  2.0  0.0   5       MIKE
2  2.0  2.0   2  CHRISTIAN
3  1.0  2.0   4        MIK
4  3.0  4.0   1   CHRISTIA
5  5.0  2.0   3          M
6  1.0  2.0   5       MIKE