In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./test.csv')
df

   c1   c2         c3
0  CA   CA        chr
1  FL  NaN       mike
2  FL   FL  christian
3  CA   FL        mik
4  GA   MI   christia
5  WA   FL          m

In [3]:
# Clean up States
bkup = df['c1'] # will be used later to reference states
stacked = df[{'c1','c2'}].stack().astype('category')
result = stacked.cat.codes.unstack()
print(result)
print(df)
df['c1'] = result['c1'] + 1
df['c2'] = result['c2'] + 1
df = df.fillna(0)
print('after nan = 0:\n',df)

    c2   c1
0  0.0  0.0
1  NaN  1.0
2  1.0  1.0
3  1.0  0.0
4  3.0  2.0
5  1.0  4.0
   c1   c2         c3
0  CA   CA        chr
1  FL  NaN       mike
2  FL   FL  christian
3  CA   FL        mik
4  GA   MI   christia
5  WA   FL          m
after nan = 0:
     c1   c2         c3
0  1.0  1.0        chr
1  2.0  0.0       mike
2  2.0  2.0  christian
3  1.0  2.0        mik
4  3.0  4.0   christia
5  5.0  2.0          m

In [11]:
# Encode Names with similar spelling
df['c3'] = df['c3'].str.upper()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le = le.fit(df['c3'])
le_encdr = le.transform(df['c3'])
le_encdr # m, mik, and mike are a lot closer numerically than chr, christian, and christia. Perhaps can use floats insteead of ints to be more accurate with a larger CSV sample.

array([0, 5, 2, 4, 1, 3])